/* Basic Style */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none !important;
    
}
body{
    background-color: #f1f3f4;
    font-family: sans-serif;
    overflow-x: hidden;
}

/* Navbar */
.navbar{
    position:sticky;
    height: 15vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    z-index: 100;
   
}
.left_side{
    display: inline-flex;
}
.logo img{
    
    height: 150px;
    
}
.form-control{
    width: 60% !important;
}
 .input_custom{
    outline: none !important;
    border: 2px solid #f1f1f1 !important;
    padding: 1px 15px 1px 15px!important;
    border-radius: 30px !important;
    background-color: #f7f7f7 !important;
    margin-left: 10px;
}

.nav-link {
    font-size: 18px;
}
.button_custom{
    padding: 1px 14px !important;
    border-radius: 30px !important;
    margin-left: 7px;
}
/* -----------Menu---------------- */
.header{
    
    height: 120vh;
    width: 100vw;
}
.flex{
    display: inline-flex;
}
.side_menu{
    
    margin-top: 62px;
    height:98vh;
    width: 15vw;
    font-size: 18px;
    float: left;
    z-index: 2;
    background:#ddd ;
    
}
.head_img img{
    height: 100%;
    width: 100%;
    margin-bottom: 35px;
}


.side_menu ul li{
    padding-left: 20px;
    margin-bottom: 20px;
}

.p{
    position: relative;
}

.arrow{
    position: absolute;
    left: 70%;
    color: #e67e22;
    /* margin-left: 20px; */
}


.vid video{
    position: absolute;
    /* top: 23%; */
    /* left: 50%;
    transform: translateX(-50%); */
    margin-top: 50px;
    height: 100vh;  
    padding: 0 10px;
    width: 100vw;
    border-radius: 5px;
    
}
#open_btn, #close_btn{
    font-size: 30px;
    margin:65px 10px;
    color: #e67e22;
    display: none;
}
/*---------------------
  Form BLog
-----------------------*/

.from-blog {
	padding-top: 50px;
	padding-bottom: 50px;
}

.from-blog .blog__item {
	margin-bottom: 30px;
}

.from-blog__title {
	margin-bottom: 70px;
}

.product-item{
    background: #4eb475 !important;
}

.child{
    padding-left: 20px;
}
@media only screen and (max-width:980px){
    .navbar{
        height: 118px;
    }
    .header {
        height: 70vh;
        width: 100vw;
    }
    .left_side{
        width: 100%;
        display: flex;
        
        flex-direction: column;
    }
    .right_side{
        width: 100%;
    }
    .logo{
        display: flex;
        justify-content: start;
        align-items: center;
        margin-top: 20px;
    }
    .logo img{
        height: 100px;
    }
    .fa-search {
        display: none !important;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        
        
    }
    input{
        
        padding: 5px 30px;
      
    }
    
    .side_menu{
        width: 30%;
        z-index: 20;
        top: 133px;
        position: fixed;
        font-size: 12px;
        background:#ddd ;
        display: none;
    }
    #open_btn{
        display: block;
    }
    .search_box{
        width: 100%;
        margin: 0px 10px 20px;
    }
    .right_side ul{
        margin: 10px 0;
        width: 100%;
    }
    .vid video{
        width: 100%;
        margin-left: 0;
        padding-left: 0;
        height: 40vh;
        position: absolute;
        top: 40%;
    }
    }


/* -----------Category----------------- */
.category {
    height: 60vh;
    width: 100%;
    background-color: #fff;
}
.category a{
    color: black;
}

.fa-arrow-left,
.fa-arrow-right{
    color: #e67e22;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px;
    height: 100px;
    width: 140px;
    background-color: #f1f1f1;
    color: #000;
    border-radius: 10px;
}
.carousel-inner .box{
    margin:auto;
}
/* Banner Section */
.banner{
    height: 80vh;
}
.banner_wrap img{
    display: block;
    background-color: #f1f1f1;
    height: 95%;
    width: 95%;
    margin: 0 auto;
  
}


/* Product cart*/


@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap'); 
* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Mulish', sans-serif; } 
:root { --text-clr: #4f4f4f; } 
p { color: #6c757d; } 
a { 
    text-decoration: none; 
    color: var(--text-clr); 
} 
a:hover { 
    text-decoration: none; 
    color: var(--text-clr); 
} 
h2 { 
    color: var(--text-clr); 
    font-size: 1.5rem; 
} 
.main_cart { 
    background: #fff; 
} 
.card { border: none; } 
.product_img img { 
    min-width: 200px; 
    max-height: 200px; 
} 
 .product_name { 
       color: black; 
       font-size: 1.4rem; 
        text-transform: capitalize; 
        font-weight: 500; 
    } 
    #r1,#r2{
        cursor: pointer;
    }
        .card-title p 
        { font-size: 0.9rem;
             font-weight: 500; } 
        .remove-and-wish p {
             font-size: 0.8rem;
              margin-bottom: 0; } 
        .price-money h3 { 
            font-size: 1rem; 
            font-weight: 600; 
        } 
        .set_quantity { position: relative; } 
        .set_quantity::after { content: "(Note, 1 piece)"; 
            width: auto; height: auto; text-align: center; 
            position: absolute; bottom: -20px; right: 1.5rem; font-size: 0.8rem; } 
            .page-link { line-height: 16px; 
                width: 45px; font-size: 1rem; 
                display: flex; 
                justify-content: center; 
                align-items: center; 
                color: #495057; } 
                .page-item input 
                { line-height: 22px; 
                    padding: 3px; 
                    font-size: 15px; 
                    display: flex; 
                    justify-content: center; 
                    align-items: center; 
                    text-align: center; 
                } 
                .page-link:hover { 
                    text-decoration: none; 
                    color: #495057; 
                    outline: none !important; } 
                    .page-link:focus { box-shadow: none; } 
                    .price_indiv p { font-size: 1.1rem; } 
                    .fa-heart:hover { color: red; }